.shippingmethodcontainer {
   display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 600px;
    box-sizing: border-box;
}

/* LEFT SIDE */
.shippingmethodform {
  flex: 1;
  background: #fff;
  padding-right: 40px;
  width: 550px;
  
}

.shippingmethodform1 {
  flex: 1;
  background: #fff;
  padding-right: 40px;
  width: 550px;
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: gray;
  border-radius: 7px;
  font-family: Helvetica, sans-serif;
}
.progresssteps {
  display: flex;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 20px;
}
.progressstepsprevious {
  color: #56B280 !important;
}
.progressstepNext {
  color: #555;
}
.current-step {
  font-weight: 600;
  color: #000;
}


.contact-box {
  width: 95%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  font-size: 0.9rem;
}
.contact-box p {
  margin: 6px 0;
}

.shippingoption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  border-radius: 7px;
}
.shippingoption input[type="radio"] {
  margin-right: 12px;
}
.shippingoption label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  color: #000;
}

.buttongroup {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.buttongroup button {
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  margin-top: 50px;
}
.buttongroup button:first-child {
  background: transparent;
  color: #56B280;
  text-decoration: underline;
}
.buttongroup button:last-child {
  background:#56B280;
  color: #fff;
  font-weight: 600;
}

/* RIGHT SIDE */
.rigthside {
  flex: 1;
  background: #f5f5f5;
  padding: 30px 20px;
  font-family: "raleway", sans-serif;
}
.orderitem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.productimage {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 12px;
}
.itemname {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}
.itemprice {
  color: #56B280;
  font-weight: 600;
  font-size: 15px;
}

.divider {
  height: 1px;
  background: #d0e3d4;
  margin: 16px 0;
}
.summaryrow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  margin: 8px 0;
  text-align: end;
}
.summarytotal {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  margin-top: 12px;
  color: #000;
}
.shippingmethod{
  margin-left: 285px;
}

.scroll {
  max-height: 180px;
  overflow-y: auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.shippingsum{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  margin: 8px 0;
  text-align: end;
}