.confirmation-page-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  gap: 32px;
}

.confirmation-left {
  flex: 1;
}

.confirmation-right {
  flex: 0 0 350px;
  background: #fafafa;
  padding: 2rem;
  border-left: 1px solid #eee;
  height: 600px
}

.progress-steps {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 1rem;
}

.confirmation-message {
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}


.confirmation-message h1 {
  margin: 16px 0;
  color: #272727;
  font-family: "Raleway", sans-serif;
}

.order-id {
  font-size: 0.9rem;
  color: #56B280;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}


.back-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #56B280;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 248px;
  font-size: 20px;
}

.order-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
  align-items: center;
  font-size: 0.9rem;
}

.order-item img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.item-details {
  flex: 1;
}

.item-details p:first-child {
  margin: 0;
  font-weight: 500;
  color: #333;
}

.item-details p:last-child {
  margin: 0.2rem 0 0;
  color: #777;
  font-size: 0.85rem;
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin: 1.5rem 0;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  font-size: 0.95rem;
}


.summary-total {
  font-weight: bold;
  font-size: 24px;
  color: #222;
}



.scroll {
  font-family: "raleway", sans-serif;
  max-height: 180px;
  overflow-y: auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}